.educationPage {
  scroll-snap-align: start;
  width: 100%;
  height: 100vh;
  padding: 0 0 4rem 0;
  h2 {
    width: 100%;
    font-size: 1.8rem;
    text-align: center;
    padding: 1rem 2rem;
    color: rgb(88, 80, 236);
  }
  .educationLayout {
    width: 100%;
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    .educationProgress {
      width: 3px;
      height: 500px;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .educationProgressStops {
        height: 9px;
        width: 9px;
        border-radius: 50%;
        transform: translateX(-3px);
        background-color: rgb(88, 80, 236);
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 18px;
          width: 18px;
          border-radius: 50%;
          transform: translateX(-4.5px) translateY(-4.5px);
          background-color: rgba(88, 80, 236, 0.4);
        }
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(160, 160, 160);
      }
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgb(88, 80, 236);
      }
    }
    .educationCards {
      width: calc(100% - 3px);
      height: 600px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 2rem;
      .educationCard {
        width: 100%;
        height: 135px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        .percentage {
          height: 80px;
          width: 80px;
          margin: 0 1rem;
          position: relative;
          transition: 0s;
          .progressBackground {
            fill: none;
            stroke: rgba(160, 160, 160, 0.2);
            stroke-width: 10px;
          }
          .progress {
            fill: none;
            stroke: rgb(88, 80, 236);
            stroke-width: 10px;
            stroke-linecap: round;
            transform-origin: center;
            transform: rotateZ(-90deg);
          }
          .progressX {
            stroke-dasharray: 202px;
          }
          .progressXII {
            stroke-dasharray: 169px;
          }
          .progressBCA {
            stroke-dasharray: 178px;
          }
          .progressMCA {
            stroke-dasharray: 201px;
          }
          .progressShadow {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: #fff;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          }
          .progressDarkBG {
            background-color: #0f1624;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
          }
          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: bold;
          }
        }
        .info {
          padding-right: 0.5rem;
          transition: 0s;
          h3 {
            margin-bottom: 0.1rem;
          }
          h4 {
            font-size: 0.9rem;
            margin-bottom: 0.1rem;
          }
          p {
            font-size: 0.8rem;
          }
        }
      }
      .educationDarkBG {
        background-color: #0f1624;
        box-shadow: 0 0 15px rgba($color: #162035, $alpha: 1);
        color: #fff;
      }
    }
  }
}
@media screen and (max-width: 376px) {
  .educationPage {
    h2 {
      font-size: 1.5rem;
    }
    .educationLayout {
      transform: scale(0.9) translateY(-2.5%);
    }
  }
}
@media screen and (max-width: 361px) {
  .educationPage {
    .educationLayout {
      transform: scale(0.9) translateY(2.5%);
    }
  }
}
@media screen and (min-width: 768px) {
  .educationPage {
    padding-top: 10vh;
  }
}
@media screen and (min-width: 999px) {
  .educationPage {
    .educationLayout {
      flex-direction: column-reverse;
      align-items: center;
      justify-content: center;
      .educationProgress {
        width: 80%;
        height: 3px;
        flex-direction: row;
        margin-top: 2rem;
        .educationProgressStops {
          transform: translateX(-3px);
        }
        &::before {
          top: 0;
          transform: translate(-3px, 3px);
        }
        &::after {
          top: 0;
          transform: translate(-3px, 3px);
        }
      }
      .educationCards {
        width: 100%;
        height: 300px;
        flex-direction: row;
        padding: 0;
        .educationCard {
          padding: 3rem 1rem;
          flex-direction: column;
          width: 225px;
          height: 97%;
          .percentage {
            transform: scale(1.25);
          }
          .info {
            padding: 2.5rem 0 0 0;
            width: 100%;
            text-align: center;
            h4 {
              margin-bottom: 0.75rem;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1200px) {
  .educationPage {
    .educationLayout {
      .educationProgress {
        width: 64%;
      }
      .educationCards {
        width: 80%;
      }
    }
  }
}
